<div id="content">
    <div id="gamesDiv">
        <span>Games</span>
        <div id="slotDiv">
            <a href="/games/slotmachine"><img src="/images/slotmachine.png" alt="Slot Machine"> </a>
        </div>
        <div id="blackjackDiv">
            <a href="/games/blackjack"><img src="/images/blackjack.png" alt="Blackjack"> </a>
        </div>
    </div>
    <div id="userDiv">
        <span>Welcome to the Casino</span>
        <div id="frontImage">
            <img src="/images/frontImage.jpg" alt="Welcome to the Casino">
        </div>
        <span>Highscores </span> <p>Your chips: {{this.chips}}</p>
        <div id="highscores">
            <table>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Chips</th>
                </tr>
                {{#each data}}
                  <tr>
                    <td>{{{this.id}}}</td>
                    <td>{{{this.username}}}</td>
                    <td>{{{this.score}}}</td>
                  </tr>
                {{/each}}
            </table>
            <div id="checkoutDiv"><u>Checkout</u></div>
            <div id="checkoutDivResponsive"><a href="/checkout">Checkout</a></div>
        </div>
    </div>
</div>
<div id="coverDiv">
  <div id="checkoutBox">
    <h2>Checkout from the casino?</h2>
    <p>This will end your game and your chips will be counted towards the highscore.</p>
    <form action="/checkout" method="post">
        Name: <br>
        <input type="text" name="nameText"><br>
        <button class="coverDivLink"><u><b>Checkout</b></u></button>
        <div class="coverDivLink"><u>Back</u></div>
        <input type="hidden" name="csrfToken" value="{{csrfToken}}">
    </form>
  </div>
  <div id="aboutBox">
    <h2>About</h2>
    <p></p>
    <div class="coverDivLink"><u>Back</u></div>
  </div>
  <div id="contactBox">
    <h2>Contact</h2>
    <p></p>
    <div class="coverDivLink"><u>Back</u></div>
  </div>
  <div id="creditBox">
    <h2>Credit</h2>
    <p></p>
    <div class="coverDivLink"><u>Back</u></div>
  </div>
</div>
<footer>
  <p>About</p>
  <p>Contact</p>
  <p>Credit</p>
</footer>

<script src="/javascripts/home.js"></script>
