<div id="content">
    <div id="gamesDiv">
        <span>Games</span>
        <div id="slotDiv">
            <a href="/games/slotmachine"><img src="/images/slotmachine.png" alt="Slot Machine"> </a>
        </div>
        <div id="blackjackDiv">
            <a href="/games/blackjack"><img src="/images/blackjack.png" alt="Blackjack"> </a>
        </div><!--
        <div id="rouletteDiv">
            <a href="/"><img src="/images/2roulette.png" alt="Roulette"> </a>
        </div>-->
    </div>
    <div id="userDiv">
        <span>Welcome to the Casino</span>
        <div id="frontImage">
            <img src="/images/frontImage.jpg" alt="Welcome to the Casino">
        </div>
        <span>Highscores </span> <p>Your chips: {{this.chips}}</p>
        <div id="highscores">
            <table>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Chips</th>
                </tr>
                {{#each data}}
                  <tr>
                    <td>{{{this.id}}}</td>
                    <td>{{{this.username}}}</td>
                    <td>{{{this.score}}}</td>
                  </tr>
                {{/each}}
            </table>
            <div id="checkoutDiv"><u>Checkout</u></div>
            <div id="checkoutDivResponsive"><a href="/checkout">Checkout</a></div>
        </div>
    </div>
</div>
<div id="coverDiv">
  <div id="checkoutBox">
    <h2>Checkout from the casino?</h2>
    <p>
      This will end your game and your chips will be counted towards the highscore.
      <br><br>
      Must be atleast 3 characters long and can only contain alphanumerics.
    </p>
    <form action="/checkout" method="post">
        Name: <br>
        <input type="text" id="nameText" name="nameText" value=""><br>
        <button class="coverDivLink"><u><b>Checkout</b></u></button>
        <div class="coverDivLink"><u>Back</u></div>
        <input type="hidden" name="csrfToken" value="{{csrfToken}}">
    </form>
  </div>

  <div id="aboutBox">
    <h2>About</h2>
    <h3><i>What is this?</i></h3>
    <p>This website is a simulated casino where the goal is to accumulate as many chips as possible by playing the different games available (more to come), to get as high on the highscore list as possible. </p>
    <h3><i>How does it work?</i></h3>
    <p>Upon entering the site you are automatically given 50 chips, by playing games you can earn more chips to hopefully compete with the highscores. Once you're satisfied with your chips you can select <i>Checkout</i> to have your chips counted towards the highscore list and/or start over.</p>
    <h3><i>Game rules</i></h3>
    <h4><u>Slot machine</u></h4>
    <p>1 chip per spin - 3 of the same to win. <br>
      <u>Payouts</u><br>
      <table border="1">
        <tr>
          <td>Watermelon</td>
          <td>5 chips</td>
        </tr>
        <tr>
          <td>Orange</td>
          <td>10 chips</td>
        </tr>
        <tr>
          <td>Cherry</td>
          <td>20 chips</td>
        </tr>
        <tr>
          <td>BAR</td>
          <td>50 chips</td>
        </tr>
        <tr>
          <td>7</td>
          <td>7 or 77 chips</td>
        </tr>
        <tr>
          <td>Big win</td>
          <td>100 chips</td>
        </tr>
      </table>
    </p>
    <h4><u>Blackjack</u></h4>
    <p>In blackjack you play against the dealer and the goal is to get as close to 21 without exceeding it. <br><br>
     You will be dealt two cards then you have the option to <i>Hit</i> (get another card), <i>Stay</i> (end your turn), <i>Double down</i> (double your bet and receive ONLY one more card), or <i>Surrender</i> (give up but half the bet is returned). <br>
     The last two are only allowed as your first action.<br><br>
     If the first two cards are a pair you can <i>Split</i> them, which will double your bet and let you play with two hands seperately.<br><br>
     When your turn is over and you haven't gotten 21 or busted (exceeded 21) it's the dealers turn to draw cards. Their goal is beat your score without exceeding busting themselves.
   </p>
    <div class="coverDivLink"><u>Back</u></div>
  </div>
  <div id="contactBox">
    <h2>Contact</h2>
    <p>
      <table>
        <tr>
          <td>Email:</td>
          <td>rk222gg@student.lnu.se</td>
        </tr>
        <tr>
          <td>Twitter:</td>
          <td><a href="https://twitter.com/rassek96">@rassek96</a></td>
        </tr>
      </table>
    </p>
    <div class="coverDivLink"><u>Back</u></div>
  </div>
  <div id="creditBox">
    <h2>Credit</h2>
    <h4><u>Images</u></h4>
    <p>
      From: <a href="https://pixabay.com/">pixabay.com</a><br>
            <a href="http://www.onlinelogomaker.com/">onlinelogomaker.com</a>
      <table>
        <tr>
          <td>Blackjack card deck</td>
          <td> - <a href="http://byronknoll.blogspot.se/2011/03/vector-playing-cards.html">Link</a></td>
        </tr>
        <tr>
          <td>Casino frontpage image</td>
          <td> - <a href="https://pixabay.com/en/poker-blackjack-casino-black-red-1264076/">Link</a></td>
        </tr>
        <tr>
          <td>Slot machine logo</td>
          <td> - <a href="https://pixabay.com/en/slot-machine-casino-fruits-gambling-159972/">Link</a></td>
        </tr>
      </table>
    </p>
    <h4><u>Sound effects</u></h4>
    <p>
      From: <a href="https://www.freesound.org/">freesound.org</a>
      <table>
        <tr>
          <td>Slot machine spin</td>
          <td> - <a href="https://www.freesound.org/people/pierrecartoons1979/sounds/118240/">Link</a></td>
        </tr>
        <tr>
          <td>Slot machine win</td>
          <td> - <a href="https://www.freesound.org/people/milton./sounds/100003/">Link</a></td>
        </tr>
        <tr>
          <td>Slot machine stop</td>
          <td> - <a href="https://www.freesound.org/people/milton./sounds/99991/">Link</a></td>
        </tr>
        <tr>
          <td>Slot machine lose</td>
          <td> - <a href="https://www.freesound.org/people/Surn_Thing/sounds/249561/">Link</a></td>
        </tr>
        <tr>
          <td>Blackjack hit/knock</td>
          <td> - <a href="https://www.freesound.org/people/milton./sounds/86863/">Link</a></td>
        </tr>
        <tr>
          <td>Blackjack shuffle cards</td>
          <td> - <a href="https://www.freesound.org/people/deameon1427/sounds/173141/">Link</a></td>
        </tr>
        <tr>
          <td>Blackjack select</td>
          <td> - <a href="https://www.freesound.org/people/brnck/sounds/257357/">Link</a></td>
        </tr>
        <tr>
          <td>Blackjack deal/flip card</td>
          <td> - <a href="https://www.freesound.org/people/f4ngy/sounds/240776/">Link</a></td>
        </tr>
      </table>
    </p>
    <div class="coverDivLink"><u>Back</u></div>
  </div>

</div>

<footer>
  <p>About</p>
  <p>Contact</p>
  <p>Credit</p>
</footer>

<script src="/javascripts/home.js"></script>
